<a href="https://colab.research.google.com/github/swarna2/all-data/blob/main/nGrams.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
plt.style.use(style="seaborn")
url='https://raw.githubusercontent.com/swarna2/all-data/main/all-data.csv'
df=pd.read_csv(url,encoding="ISO-8859-1")
df.columns.values[0]='Sentiment'
df.columns.values[1]='News Headlines'
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4845 entries, 0 to 4844
Data columns (total 2 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Sentiment       4845 non-null   object
 1   News Headlines  4845 non-null   object
dtypes: object(2)
memory usage: 75.8+ KB

In [ ]:
df.columns.values[0]='Sentiment'
df.columns.values[1]='News Headlines'
df.info()
df.isna().sum()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4845 entries, 0 to 4844
Data columns (total 2 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Sentiment       4845 non-null   object
 1   News Headlines  4845 non-null   object
dtypes: object(2)
memory usage: 75.8+ KB

neutral     2878
positive    1363
negative     604
Name: Sentiment, dtype: int64

In [ ]:
df['Sentiment'].value_counts()

neutral     2878
positive    1363
negative     604
Name: Sentiment, dtype: int64

In [ ]:
x=df['Sentiment'].values
x.shape

(4845,)